@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* font-weight: 400, 500, 600 ou 700 */
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-padding-top: 32px;
}

/* algumas variaveis */
/* trocar as cores depois */
:root{
    --main-color: #C5DC18;  
    --hover-color: #9eb10c;
    --body-color: #232325;
    --container-color: #161618b2;
    --text-color: #fcfeff;
}
/* Scroll https://codepen.io/stephenpaton-tech/full/JjRvGmY */
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #c5dc18 #232325;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #232325;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #c5dc18;
    border-radius: 3px;
    border: 0px none #c5dc18;
  }
/* Cor do Seletor */
::selection{
    background: var(--main-color);
    color: var(--container-color);
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
section{
    padding: 48px 0 32px;
}
img{
    width: 100%;
    max-width: auto;
}
.bx{
    cursor: pointer;
}
body{
    background: var(--body-color);
    color: var(--text-color);
}
.container{
    /* max-width: 100vw; */
    max-width: 80vw;
    margin: auto;
    width: 100%;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    height: 16vh;
    width: 100%;
    background: var(--body-color);
    z-index: 100;
    border-bottom: 1px solid var(--container-color);
}
/* Nav */
.nav{
    display: flex;
    align-items: center;    /* caso queira colocar imagem*/
    justify-content: center;
    padding-top: 1px;
}
/* Logo */
.logo{
    display: flex;
    justify-content: flex-start;
    margin: 0 auto 0 0;
}

.logo-img{
    width: 175px;
    height: 180px;
    /* width: 175px;
    height: 180px; */
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

/* Search Box */
.search-box{
    max-width: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding: 8px 15px;
    background: var(--container-color);
    border-radius: 64px;
    -webkit-border-radius: 64px;
    -moz-border-radius: 64px;
    -ms-border-radius: 64px;
    -o-border-radius: 64px;
    margin-right: 16px;
}
.search-box .bx{
    font-size: 20px;
}
.search-box .bx:hover{
    color: var(--main-color);
}
#search-input{
    width: 100%;
    border: none;
    outline: none;
    color: var(--text-color);
    background: transparent;
    font-size: 15px;
}
.user{
    display: flex;
}
.user-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
.bell .bx{
    padding: 20px;
    display: flex;
    font-size: 20px;
    align-items: center;
    color: #b7b7b7;
}
.bell .bx:hover{
    color: var(--main-color);
    transition: 0.3;
    -webkit-transition: 0.3;
    -moz-transition: 0.3;
    -ms-transition: 0.3;
    -o-transition: 0.3;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
/* Navbar */
.navbar{
    position: fixed;
    left: 25px;
}
.navbar{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    left: 18px;
    display: flex;
    flex-direction: column;
    row-gap: 34px;
}
.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*color: #b7b7b7;
    /*  */
    transition: 300ms;
    background: #C5DC18;
    background: -webkit-linear-gradient(to right, #C5DC18 0%, #FF7E75 100%);
    background: -moz-linear-gradient(to right, #C5DC18 0%, #FF7E75 100%);
    background: linear-gradient(to right, #C5DC18 0%, #FF7E75 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
}
.nav-link:hover,
.nav-active{
    /*color: var(--text-color);
    */background: #C5DC18;
    background: -webkit-linear-gradient(to right, #C5DC18 77%, #FF7E75 100%);
    background: -moz-linear-gradient(to right, #C5DC18 77%, #FF7E75 100%);
    background: linear-gradient(to right, #C5DC18 77%, #FF7E75 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition:0.3s;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
    -ms-transition:0.3s;
    -o-transition:0.3s;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transition: 0.;
    filter: drop-shadow(0 0 20px #C5DC18) contrast(2) brightness(4);
    -webkit-filter: drop-shadow(0 0 20px #C5DC18) contrast(2) brightness(4);
}
.nav-link .bx{
    font-size: 20px;
}
.nav-link-title{
    font-size: 13px;
}
/* Home */
main{
    margin-left: 6%;
    margin-top: 134px;
}
.home{
    position: relative;
    min-height: 470px;
    display: flex;
    align-items: center;
    margin-top: 15vh;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.home-img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: 1px solid var(--main-color);
}
.home-text{
    padding-left: 40px;
}
.home-title{
    font-size: 32px;
    font-weight: 600;
}
.home-text p{
    font-size: 16px;
    margin: 10px 0 20px;
    color: var(--main-color);
}
.watch-btn{
    display: flex;
    align-items: center;
    column-gap: 12px;
    color: var(--text-color);
}
.watch-btn .bx{
    /*font-size: 21px;
    background: var(--main-color);
    width: 110px;
    height: 35px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    */font-size: 21px;
    color: #000;
    background-color: #c5dc18;
    padding: 10px 30px;
    border: solid var(--hover-color) 2px;
    box-shadow: none;
    border-radius: 11px;
    transition: 1000ms;
    transform: translateY(0);
    -webkit-transition: 1000ms;
    -moz-transition: 1000ms;
    -ms-transition: 1000ms;
    -o-transition: 1000ms;
}
.watch-btn .bx:hover{
    /*background: var(--hover-color);
    */transition: 1000ms;
    padding: 10px 36px;
    transform: translateY(-0px);
    background-color: #9eb10c;
    /*color: #9eb10c;
    */border: solid 2px var(--main-color);
    -webkit-transform: translateY(-0px);
    -moz-transform: translateY(-0px);
    -ms-transform: translateY(-0px);
    -o-transform: translateY(-0px);
    filter: drop-shadow(0 0 20px var(--hover-color)) contrast(2) brightness(1);
    -webkit-filter: drop-shadow(0 0 20px var(--hover-color)) contrast(2) brightness(1);
}
.watch-btn span{
    font-size: 16px;
    font-weight: 400;
}
/* Heading */
.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--container-color);
    padding: 8px 14px;
    border: 1px solid #fafdff1a;
    margin-bottom: 32px;
}
.heading-title{
    font-size: 19px;
    font-weight: 500;
}
/* Movie Box */
.swiper-slide .filme-box{
    position: relative;
    width: 100%;
    /* height: 680px; */
    height: 680px;
    overflow: hidden;
}
.swiper-slide .filme-title{
    font-size: 40px;
}
.swiper-slide .filme-type{
    font-weight: 700;
}
.filme-box{
    position: relative;
    width: 100%;
    height: 480px;
    overflow: hidden;
}
.filme-box-img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    object-fit: fill;
    transition: 0.5s;
}
.filme-box .box-text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 14px;
    background: linear-gradient(
    8deg, 
    #1e1e2a27 14%,
    #1e1e2a88 44%
    );
    overflow: hidden;
}
.filme-title{
    font-size: 28px;    
    font-weight: 500;
    color: var(--main-color);
}
.filme-type{
    font-size: 15px;
}
.play-btn{
    position: absolute;
    bottom: 5%;
    /* bottom: 95px; */
    /* right: 25px; */
    left: 25px;
}

/* Swiper Btn */
.swiper-btn{
    display: flex;
}
.swiper-button-next,
.swiper-button-prev{
    position: static !important;
    margin: 0 0 0 10px !important;
}
.swiper-button-next::after,
.swiper-button-prev::after{
    color: var(--text-color);
    font-size: 18px !important;
    font-weight: 700;
}
/* Filmes */
.filmes .heading{
    padding: 10px 14px;
}
.filmes-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(247px, 1fr));
    gap: 25px;
}
.filmes-content .filme-box:hover .filme-box-img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.copyright{
    text-align: center;
    padding: 20px;
}
/* Play Container */
.play-container{
    position: relative;
    min-height: 540px;
    margin-top: 170px;
    border: 1px solid var(--main-color);
}
.play-img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;   /* Só sei que funciona */
    z-index: -1;
}
.play-text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px;
    background: linear-gradient(
    8deg, 
    #1e1e2ab0 14%,
    #1e1e2a25 44%
    );
}
.play-text h2{
    font-size: 24px;
    font-weight: 600;
}
.rating{
    display: flex;
    align-items: center;
    column-gap: 2px;
    font-size: 17px;
    color: var(--main-color);
    margin-top: 4px;
}
.tag-pg{
    display: flex;
    margin-top: 16px;
    color: #65e754;
}
.tags{
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin: 0 0 10px 0;
}
.tags span{
    background: var(--container-color);
    padding: 0 4px;
}
/* Séries */
/** Caso for fazer de um jeito diferente */
/* Video Container */
.video-container{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: #2e2f3899;
    z-index: 200;
}
.video-container.mostrar-video{
    display: flex;
}
.video-box{
    position: relative;
    width: 92%;
    height: 80%;
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
}
.video-box #videoplayer{
    width: 100%;
    aspect-ratio: 16/9;
}
.fechar-video{
    position: absolute;
    top: -48px;
    right: 0;
    font-size: 40px;
    color: var(--main-color);
}
/* Sobre Filme */
.sobre-filme{
    margin-top: 32px;
}
.sobre-filme h2{
    font-size: 22px;
    font-weight: 600;
    color: var(--main-color);
}
.sobre-filme p{
    /* max-width: 800px; */
    font-size: 14px;
    margin: 10px 0;
    text-indent: 20px;
}
/* Elenco */
.elenco-heading{
    font-size: 19px !important;
    font-weight: 600;
    margin-bottom: 16px;
    color: var(--main-color);
}
.elenco{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px, 150px));
    gap: 16px;
}
.elenco-img{
    width: 150px;
    height: 180px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid var(--main-color);
}
.elenco-box{
    transition: 0.5s;
}

.elenco .elenco-box:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.elenco-title{
    font-size: 14px;
    color: var(--main-color);
    display: flex;
    justify-content: center;
}
.elenco-char{
    font-size: 12px;
    display: flex;
    justify-content: center;
}
footer{
    margin-top: 200px;
}
.lista-a-z{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lista-a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    font-weight: 800;
    background: #1b1b1b;
    color: var(--text-color);
    width: 30px;
    height: 30px;
}
.lista-a:hover{
    color: var(--main-color);
    cursor: pointer;
}
/** Responsivo */
@media(max-width:1200px){
    .navbar{
        bottom: auto;
        left: 0;
        right: 0;
        /* top: 139px; */
        top: 16vh;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        flex-direction: row;
        justify-content: space-evenly;
        row-gap: 1px;
        padding: 10px;
        border-bottom: 1px solid #fafdff0d;
        background: linear-gradient(8deg, 
        #23232527,
        #232325da);
    }
    .nav-link .bx{
        font-size: 24px;
    }
}
@media (max-width:1100px){
    .filme-box{
        height: 340px;
    }
    .filmes-content{
        grid-template-columns: repeat(auto-fit, minmax(214px, 1fr));
    }
}
@media (max-width:910px){
    .nav{
        padding: 0;
        margin-top: -10px;
    }
    .home{
        min-height: 440px;
        /* margin-top: 155px; */
        margin-top: 16vh;
    }
    .home-text{
        padding-left: 25px;
    }
    .home-title{
        font-size: 25px;
    }
    .watch-btn span{
        font-size: 14px;
    }
    .watch-btn .bx{
        width: 50px;
    }
    .swiper-slide .watch-btn .bx{
        margin-bottom: 25vh;
    }
    .filme-title{
        font-size: 26px;
        padding-right: 30px;
    }
    .swiper-slide{
        max-height: 440px;
    }
    .swiper-slide .filme-title{
        font-size: 32px;
    }
    .filme-box{
        max-width: 300px;
        height: 440px;
    }
    .filme-box-img{
        max-height: 440px;
        object-fit: cover;
    }
    .play-container{
        min-height: 440px;
    }
    .video-box{
        max-width: 800px;
        max-height: 440px;
        right: 5%;
    }
    .elenco{
        justify-content: center;
    }
}
@media(max-width:768px){
    .home-img{
        max-height: 300px;
    }
    .swiper-slide .filme-title{
        font-size: 30px;
    }
    .play-container{
        min-height: 320px;
    }
    .video-box{
        max-width: 800px;
        max-height: 320px;
        right: 5%;
        bottom: 20%;
    }
}
